html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: #ffff05;
  font-size: clamp(2rem, 5vw, 50px);
}

.content-container {
  height: 100%;
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Main */
.content-container main #intro {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.content-container main #intro h2 {
  text-align: center;
  font-family: "PT Serif";
  color: #dc0807;
  margin-top: 0;
}

.content-container .zdog-canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Footer */
.content-container footer {
  margin: 0 auto;
}

.content-container footer .section-body {
  text-align: center;
}

.content-container footer .section-body a {
  color: #dc0807;
  font-family: "PT Serif";
}

.content-container footer .section-body a img {
  width: 55px;
  vertical-align: middle;
}
