.home-container {
  height: 100%;
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  main {
    #intro {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      max-width: 700px;

      h2 {
        font-size: 3rem;
        text-align: center;
        font-family: "PT Serif";
        color: #dc0807;
        margin-top: 0;
      }
    }
  }

  .zdog-canvas {
    width: 100% !important;
    height: 100% !important;
  }

  footer {
    margin: 0 auto;

    .section-body {
      text-align: center;

      a {
        color: #dc0807;
        font-family: "PT Serif";
        text-decoration: none;
        margin: 0 10px;

        img {
          width: 3rem;
          vertical-align: middle;
        }
      }
    }
  }
}
